<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Index" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Movies/Index" >Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Contact" >Contact</a>
        </li>
    </ul>
</header>